h1{
    background-color: #148282;
    color:white;
    padding: 10px;
    padding-left: 15px
}
agm-map{
    height: 550px;
}

.gm-style div{color:red!important;font-weight: bold}

.col-lg-3 .card{
    padding: 10px;
}

.notes{
    margin-top: 15px;
}

.card{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}